@model IEnumerable<SinqiaParibas.Models.MovimentoManual>

<table class="table" id="gridMovimentos">
    <thead>
        <tr>
            <th>Mês</th>
            <th>Ano</th>
            <th>Código do Produto</th>
            <th>Descrição do Produto</th>
            <th>Número do Lançamento</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DAT_MES</td>
                <td>@item.DAT_ANO</td>
                <td>@item.COD_PRODUTO</td>
                <td>@item.ProdutoCosif?.Produto?.DES_PRODUTO</td>
                <td>@item.NUM_LANCAMENTO</td>
                <td>@item.DES_DESCRICAO</td>
                <td>@item.VAL_VALOR</td>
               @*  <td> Desisti de criar Edição e Exclusão pelo prazo de entrega que deram
                    @Html.ActionLink("Edit", "Edit", new { mes = item.DAT_MES, ano = item.DAT_ANO, lancamento = item.NUM_LANCAMENTO })
                </td> *@
            </tr>
        }
    </tbody>
</table>
