@model SinqiaParibas.Models.MovimentoManual

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="movimentoForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="DAT_MES">Mês</label>
                    <input type="number" class="form-control" id="DAT_MES" name="DAT_MES" required disabled  />
                    <span asp-validation-for="DAT_MES" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <label for="DAT_ANO">Ano</label>
                    <input type="number" class="form-control" id="DAT_ANO" name="DAT_ANO" required disabled />
                </div>
           </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="COD_PRODUTO">Produto</label>
                    <select class="form-control" id="COD_PRODUTO" name="COD_PRODUTO" disabled >
                        <option value="0"> --Selecione--</option>
                        @foreach (var produto in ViewData["Produtos"] as SelectList)
                        {
                            <option value="@produto.Value">@produto.Text</option>
                        }
                    </select>
           
                </div>
                <div class="form-group">
                    <label for="COD_COSIF">Cosif</label>
                    <select class="form-control" id="COD_COSIF" name="COD_COSIF" disabled >
                        <option value="0"> --Selecione--</option>
                        @foreach (var produtocosif in ViewData["ProdutoCosifs"] as SelectList)
                        {
                            <option value="@produtocosif.Value"> @produtocosif.Value - (@produtocosif.Text)</option>
                        }
                    </select>
              
                </div>
            </div>
            <div class="form-group">
                <label for="DES_DESCRICAO">Descrição</label>
                <textarea class="form-control" id="DES_DESCRICAO" name="DES_DESCRICAO" required disabled ></textarea>
            </div>
            <div class="form-group">
                <label for="VAL_VALOR">Valor</label>
                <input type="number" class="form-control" id="VAL_VALOR" name="VAL_VALOR" step="0.01" required disabled  />
            </div>
           
            <input asp-for="COD_USUARIO" class="form-control" hidden="hidden" value="TESTE" />

         
            <hr />
            
            <button type="reset"  class="btn btn-primary">Limpar</button>
            <button type="button" id="btnNovo"   class="btn btn-primary">Novo</button>
            <button type="submit" id="btnIncluir2" value="Novo" class="btn btn-primary">Incluir</button>
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{  await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_MovimentoScripts");
    }
}
