@model SinqiaParibas.Models.MovimentoManual

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovimentoManual</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DES_DESCRICAO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DES_DESCRICAO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DAT_MOVIMENTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DAT_MOVIMENTO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COD_USUARIO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COD_USUARIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VAL_VALOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VAL_VALOR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoCosif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoCosif.COD_PRODUTO)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
